
<h3> <%= @event.title %> </h3>

<% if @invitation && @invitation.blocked == true %>
<%= form_tag :controller => "invitations", :action => "follow" do %>
  <%= hidden_field_tag 'invitation_id', @invitation.id %>
  <%= submit_tag "follow", class: "btn btn-small btn-default" %>
<% end %>

<% elsif @invitation && @invitation.blocked == false %>
<%= form_tag :controller => "invitations", :action => "unfollow" do %>
  <%= hidden_field_tag 'invitation_id', @invitation.id%>
  <%= submit_tag "unfollow", class: "btn btn-small btn-default" %>
<% end %>
<%end%>

<div class ="hidden-phone">
<div class="row-fluid">
  <div class="span2">
    Suggestion
  </div>
  <div class="span3">
    Your status
  </div>
<div class ="span6 offset1">
  <div class="row-fluid">
  <div class="span3">
    Confirmed
  </div>
  <div class="span3">
    Favored
  </div>
  <div class="span3">
    Maybe
  </div>
  <div class="span3">
    Declined
  </div>
</div>
</div>
</div>
</div>


    <table class="table table-striped">
    <tbody>
      <div class="row-fluid">
    <%= render @ranked_suggestions %>
      </div>
    </tbody>
</table>
<div class="row-fluid">
<div class = "span6">
<%= form_tag :controller => "suggestions", :action => "new" do %>
          <%= submit_tag "suggest an alternative time & place", class: "btn btn-medium btn-primary" %>
<% end %>





                  <%= form_tag(:controller => "events", :action => "add_comment", :id => @event) do %>
                  <div class="input-append">
                    <%= text_field_tag :comment, nil, :placeholder => 'Write a comment...'%>
                   <%= submit_tag "submit", class: "btn btn-medium btn-default" %>
                  </div>
                  <% end %>
            
          <!--%end%-->
          <% if @comments %>
          
                  <% @comments.reverse.each do |comment|%>
                  <div class = "comment">
                    
                    <div id ="comment_text">

                      <span class = "user"><b><%= comment.user.name %></b></span>:
                      <span class = "content"> "<%= comment.text %>" </span><br>
                      <span class="timestamp"> <%= time_ago_in_words(comment.created_at) %> ago </span>
                      <br><br>
                      
                    </div>
                    </div>
                  <%end%>
          <%end%>
</div>
<div class = "span6">
<h4>Invitees:</h4>

<%= render @event.invitations %>
<br><br>

<%= form_tag :controller => "events", :action => "add_invitees" do %>
          <%= submit_tag "add invitees", class: "btn btn-medium btn-default" %>
<% end %>
<br><br>
</div>
</div>
