<h3> Step 2/3: Suggest a time and place </h3>
<%= simple_form_for @suggestion do |f| %>
  <% if @suggestion.errors.any? %>
    <div class="error_messages">
      <h2>Form is invalid</h2>
      <ul>
        <% @suggestion.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label "Location or address *" %>
    <%= f.text_field :address %>
  </div>
   <div class="field">
    <%= f.label "Time *" %>
    <%= f.datetime_select :time, start_time: 2.hours.from_now, :minute_step => 15, discard_year: true%>
  </div>
  <div class="field">
    <%= f.label "Url" %>
    <%= f.text_field :notes %>
  </div>
  <%= f.hidden_field :event_id, :value => @event.id  %>
  <div class="suggestions"><%= f.submit "Save", class: "btn btn-small btn-default"%></div>
<% end %>